remotes
tidyverse
optparse
devtools
gridExtra
circlize
ggrepel
BiocManager
Cairo
#Seurat
#Signac

#Seurats little helpers
remotes::install_github("satijalab/seurat-data", quiet = TRUE)
remotes::install_github("satijalab/seurat-wrappers", quiet = TRUE)
remotes::install_github("immunogenomics/presto", quiet = TRUE)
remotes::install_github("bnprks/BPCells", quiet = TRUE)
#remotes::install_github("satijalab/azimuth", ref = "master", quiet = TRUE)

# BioConductor packages installed through BiocManager
BioConductor::SingleCellExperiment
BioConductor::DESeq2
BioConductor::dorothea
BioConductor::progeny
BioConductor::scran
BioConductor::scater
#BiocConductor::glmGamPoi
#BioConductor::ComplexHeatmap