remotes
tidyverse
optparse
#devtools
gridExtra
circlize
ggrepel
BiocManager
Cairo
R.utils
R.filesets
# barbieQ dependencies
getopt
vegan
duckplyr
#Seurat
#Signac

#Seurats little helpers
#remotes::satijalab/seurat-data
remotes::satijalab/seurat-wrappers
remotes::immunogenomics/presto
remotes::bnprks/BPCells/r
remotes::satijalab/sctransform
remotes::kevinblighe/EnhancedVolcano
remotes::jokergoo/ComplexHeatmap
#remotes::satijalab/azimuth

# BioConductor packages installed through BiocManager
BioConductor::SingleCellExperiment
BioConductor::DESeq2
BioConductor::edgeR
BioConductor::apeglm
BioConductor::dorothea
BioConductor::progeny
BioConductor::decoupleR
BioConductor::OmnipathR
BioConductor::scran
BioConductor::scater
BioConductor::SingleR
BioConductor::celldex
BiocConductor::glmGamPoi
BioConductor::ComplexHeatmap
BioConductor::barbieQ