//define unset Params
def get_always(parameter){
    if (!params.containsKey(parameter)){
        params.put(parameter, null)
    }
    return params[parameter]
}

params.globalConfig = get_always('globalConfig') ?: determine_global_config()

if (params.globalConfig){
    includeConfig "${params.globalConfig}"
}
includeConfig 'conf/docker.config'
includeConfig 'conf/resources.config'
includeConfig 'conf/default-params.config'
includeConfig 'conf/chemistry.config'

manifest {
	author = 'Sergej Nowoshilow; Joerg Fallmann'
    description = 'The pipeline runs the CaTCHseq analysis pipeline'
    mainScript = 'main.nf'
    version = '1.2.1'
    nextflowVersion = '>=22.0'
}

profiles {
    aws {
        env.ACCESS_TOKEN  = determine_nf_secret('ACCESS_TOKEN')
        env.REFRESH_TOKEN = determine_nf_secret('REFRESH_TOKEN')
        env.ID_TOKEN      = determine_nf_secret('ID_TOKEN')
    }
    slurm {
        process.executor = 'slurm'
    }
    local {
        process.executor = 'local'
    }
}

def determine_global_config() {
    try {
        if( System.getenv('NXF_GLOBAL_CONFIG') == null)
        {
            throw new Exception("Local config not known")
        }
        return System.getenv('NXF_GLOBAL_CONFIG')
    } catch (all) {
        return null
    }
}

def determine_nf_secret(key) {
    try {
        def key_value = nextflow.secret.SecretsLoader.instance.load().getSecret("${key}").value
        return key_value
    } catch (all) {
        if (params.godm_study) {
            println "Nextflow secret '${key}' was not found. Please make sure you have set up the Nextflow secrets properly to interact with gODM."
            System.exit(1)
        }
        // return string to avoid printing WARN --> WARN: Environment variable `REFRESH_TOKEN` evaluates to an empty value
        return "Empty placeholder. User had no secrets defined."
    }
}