//define unset Params
def get_always(parameter){
    if (!params.containsKey(parameter)){
        params.put(parameter, null)
    }
    return params[parameter]
}

globalConfig = get_always('globalConfig') ?: determine_global_config()

includeConfig "${globalConfig}"
includeConfig 'conf/docker.config'
includeConfig 'conf/resources.config'
includeConfig 'conf/default-params.config'

manifest {
	author = 'Sergej Nowoshilow'
    description = 'The pipeline runs the scCaTCH analysis pipeline'
    mainScript = 'main.nf'
    version = '1.2.1'
    nextflowVersion = '>=22.0'
}

profiles {
    aws {
        env.ACCESS_TOKEN  = determine_nf_secret('ACCESS_TOKEN')
        env.REFRESH_TOKEN = determine_nf_secret('REFRESH_TOKEN')
        env.ID_TOKEN      = determine_nf_secret('ID_TOKEN')
    }
    slurm {
        process.executor = 'slurm'
        process.queue = { task.memory <= 120.GB ? 'c' : 'm' }
        module = ['build-env/.f2021', 'build-env/f2021', 'anaconda3/2021.11']
        clusterOptions = { ( task.queue == 'g' ? '--gres gpu:1 ' : '' ) << ( (task.queue == 'c' & task.time <= 1.h) ? '--qos rapid' : ( task.time <= 8.h ? '--qos short': ( task.time <= 48.h ? '--qos medium' : '--qos long' ) ) ) }
  }

  local {
    process.executor = 'local'
  }

}

def determine_global_config() {
    try {
        if( System.getenv('NXF_GLOBAL_CONFIG') == null)
        {
            throw new Exception("Local config not known")
        }
        return System.getenv('NXF_GLOBAL_CONFIG')
    } catch (all) {
        return 'https://nextflow-configuration-pipelines-dev.apps.eu-dev.ocp.aws.boehringer.com/global.config'
    }
}

def determine_nf_secret(key) {
    try {
        def key_value = nextflow.secret.SecretsLoader.instance.load().getSecret("${key}").value
        return key_value
    } catch (all) {
        if (params.godm_study) {
            println "Nextflow secret '${key}' was not found. Please make sure you have set up the Nextflow secrets properly to interact with gODM."
            System.exit(1)
        }
        // return string to avoid printing WARN --> WARN: Environment variable `REFRESH_TOKEN` evaluates to an empty value
        return "Empty placeholder. User had no secrets defined."
    }
}