//define unset Params
params.globalConfig = params.globalConfig ?: System.getenv('NXF_GLOBAL_CONFIG')

includeConfig ({
    params.globalConfig ? params.globalConfig : '/dev/null'
}())
includeConfig 'conf/docker.config'
includeConfig 'conf/resources.config'
includeConfig 'conf/default-params.config'
includeConfig 'conf/chemistry.config'

manifest {
	author = 'Sergej Nowoshilow; Joerg Fallmann'
    description = 'The pipeline runs the CaTCHseq analysis pipeline'
    mainScript = 'main.nf'
    version = '1.2.1'
    nextflowVersion = '>=22.0'
}

profiles {
    aws {
        env.ACCESS_TOKEN  = { ->
            try {
                nextflow.secret.SecretsLoader.instance.load().getSecret('ACCESS_TOKEN').value
            } catch (all) {
                if (params.godm_study) {
                    System.err.println "Nextflow secret 'ACCESS_TOKEN' was not found. Please make sure you have set up the Nextflow secrets properly to interact with gODM."
                    System.exit(1)
                }
                // return string to avoid printing WARN --> WARN: Environment variable `ACCESS_TOKEN` evaluates to an empty value
                "Empty placeholder. User had no secrets defined."
            }
        }()
        env.REFRESH_TOKEN = { ->
            try {
                nextflow.secret.SecretsLoader.instance.load().getSecret('REFRESH_TOKEN').value
            } catch (all) {
                if (params.godm_study) {
                    System.err.println "Nextflow secret 'REFRESH_TOKEN' was not found. Please make sure you have set up the Nextflow secrets properly to interact with gODM."
                    System.exit(1)
                }
                "Empty placeholder. User had no secrets defined."
            }
        }()
        env.ID_TOKEN = { ->
            try {
                nextflow.secret.SecretsLoader.instance.load().getSecret('ID_TOKEN').value
            } catch (all) {
                if (params.godm_study) {
                    System.err.println "Nextflow secret 'ID_TOKEN' was not found. Please make sure you have set up the Nextflow secrets properly to interact with gODM."
                    System.exit(1)
                }
                "Empty placeholder. User had no secrets defined."
            }
        }()
    }
    slurm {
        process.executor = 'slurm'
    }
    local {
        process.executor = 'local'
    }
}
