params {
    // pipeline-specific parameters 
    sampleList = false
    optionalArgument = 'optional'

    // general pipeline parameters
    example = false
    help = false

    // default parameters
    mapperBin = "CellRanger"
    starMappingParams = "--soloFeatures Gene GeneFull SJ Velocyto\
                         --soloMultiMappers EM \
                         --outSAMattributes NH HI nM AS CR UR CB UB GX GN sS sQ sM \
                         --outSAMtype BAM SortedByCoordinate \
                         --outSAMprimaryFlag AllBestScore "
    starMappingParams_Scale = "--soloFeatures GeneFull_Ex50pAS \
                               --soloMultiMappers PropUnique \
                               --outSAMattributes NH HI nM AS CR UR CB UB GX GN sS sQ sM \
                               --outSAMtype BAM SortedByCoordinate \
                               --outSAMprimaryFlag AllBestScore \
                               --soloCBwhitelist None "
    scriptDirR = '/tools/scripts/R/'
    scriptDirPy = '/tools/scripts/python/'
    binDir = '/usr/local/bin/'
    chunkSize = 1_000_000
    maxDist = 2
    minReads = 10
    majorityVote = 90
    qcParams = ''    
    runQC = null
    crParams = ""
    idxParams = ""
    whitelist = null
    refName = "Day0"
    mapIndex = null
    mapRef = null
    mapAnno = null
    filter = null
    organism = "Human"
    maxMtPercent = 10
    minDetectedFeatures = 500
    hvgCutoff = 0.1
    pvalCutoff = 0.1
    lfcCutoff = 1
    markerFile = '/tools/data/R/stagemarkers_xue2020.rds'
    reportsDir = "${launchDir}/REPORTS"
    outputDir = "${launchDir}/scCaTCH_nf_OUTPUT"
    stopOnWarnings = true

}