process {

    withName: "runCellrangerCount" {
        container = 'nfcore/cellranger:7.1.0'
    }

    withName: "countBarcodesInChunks|mergeBarcodesInChunks|collapseAndFilterBarcodes|resolveMultiplets|generateReports|generateAnalyticsPlots|preprocessSingleCellData|createOverviewPlots|createBarcodeEnrichmentPlots" {
        container = 'clip-docker.artifactory.imp.ac.at/loben/scCaTCH:dev_jenkins'
    }
}