process {

    withName: "runCellrangerCount" {
        container = 'nfcore/cellranger:7.0.0'
    }

    withName: "countBarcodesInChunks|mergeBarcodesInChunks|collapseAndFilterBarcodes|resolveMultiplets|generateReports|generateAnalyticsPlots|preprocessSingleCellData|createOverviewPlots|createBarcodeEnrichmentPlots" {
        container = '512303535801.dkr.ecr.eu-west-1.amazonaws.com/pipelines-test/singlecell-catch-nf:latest'
    }
}