process {

    withName: "Cellranger_idx|runCellrangerCount" {
        container = 'nfcore/cellranger:7.1.0'
    }

    withName: "check_samplesheet|qc_raw|mqc|star_idx|star_mapping|countBarcodesInChunks|mergeBarcodesInChunks|collapseAndFilterBarcodes|resolveMultiplets|generateTables|generateAnalyticsPlots|preprocessSingleCellData|createOverviewPlots|calculateBarcodeEnrichment|identifyDEGenes" {
        container = 'docker.artifactory.imp.ac.at/obenauf/CaTCHseq:main'
    }
}