process {

    cpu = 1
    memory = 1.GB

    withName: Cellranger_idx {
        memory = 128.GB
        cpus = 24
        time = { 24.h * task.attempt }
    }

    withName: runCellrangerCount {
        memory = 96.GB
        cpus = 24
        time = { 24.h * task.attempt }
    }

    withName: useCellrangerData {
        memory = 1.GB
        cpus = 1
        time = 1.h
    }

    withName: star_idx {
        memory = 128.GB
        cpus = 24
        time = { 24.h * task.attempt }
    }

    withName: star_mapping {
        memory = 128.GB
        cpus = 24
        time = { 24.h * task.attempt }
    }

    withName: countBarcodesInChunks {
        memory = { 16.GB * task.attempt }
        cpus = 1
        time = { 4.h * task.attempt }
    }

    withName: mergeBarcodesInChunks {
        memory = { 16.GB * task.attempt }
        cpus = 1
        time = { 1.h * task.attempt }
    }

    withName: collapseAndFilterBarcodes {
        memory = { 16.GB * task.attempt }
        cpus = 1
        time = { 1.h * task.attempt }
    }

    withName: resolveMultiplets {
        memory = { 16.GB * task.attempt }
        cpus = 1
        time = { 1.h * task.attempt }
    }

    withName: generateReports {
        memory = { 16.GB * task.attempt }
        cpus = 1
        time = { 1.h * task.attempt }
    }

    withName: preprocessSingleCellData {
        memory = { 84.GB + 12.GB * task.attempt }
        cpus = 1
        time = { 8.h * task.attempt }
    }

    withName: createOverviewPlots {
        memory = { 84.GB + 12.GB * task.attempt }
        cpus = 1
        time = { 2.h * task.attempt }
    }

    withName: createBarcodeEnrichmentPlots {
        memory = { 84.GB + 12.GB * task.attempt }
        cpus = 1
        time = { 2.h * task.attempt }
    }
}
